ሀ	ha
ሁ	hu
ሂ	hi
ሃ	hA
ሄ	he
ህ	hə
ሆ	ho
ለ	la
ሉ	lu
ሊ	li
ላ	lA
ሌ	le
ል	lə
ሎ	lo
ሐ	Ha
ሑ	Hu
ሒ	Hi
ሓ	HA
ሔ	He
ሕ	Hə
ሖ	Ho
መ	ma
ሙ	mu
ሚ	mi
ማ	mA
ሜ	me
ም	mə
ሞ	mo
ሠ	sa
ሡ	su
ሢ	si
ሣ	sA
ሤ	se
ሥ	sə
ሦ	so
ሧ	swA
ረ	ra
ሩ	ru
ሪ	ri
ራ	rA
ሬ	re
ር	rə
ሮ	ro
ሰ	sa
ሱ	su
ሲ	si
ሳ	sA
ሴ	se
ስ	sə
ሶ	so
ሸ	xa
ሹ	xu
ሺ	xi
ሻ	xA
ሼ	xe
ሽ	xə
ሾ	xo
ቀ	qa
ቁ	qu
ቂ	qi
ቃ	qa
ቄ	qe
ቅ	qə
ቆ	qo
ቈ	kwa
ቊ	kwi
ቋ	kwA
ቌ	kwe
ቍ	kwə
በ	ba
ቡ	bu
ቢ	bi
ባ	bA
ቤ	be
ብ	bə
ቦ	bo
ተ	ta
ቱ	tu
ቲ	ti
ታ	tA
ቴ	te
ት	tə
ቶ	to
ቸ	ca
ቹ	cu
ቺ	ci
ቻ	cA
ቼ	ce
ች	cə
ቾ	co
ኀ	Xa
ኁ	Xu
ኂ	Xi
ኃ	XA
ኄ	Xe
ኅ	Xə
ኆ	Xo
ኈ	Xwa
ኊ	Xwu
ኋ	XwA
ኌ	Xwe
ኍ	Xwə
ነ	na
ኑ	nu
ኒ	ni
ና	nA
ኔ	ne
ን	nə
ኖ	no
አ	>a
ኡ	>u
ኢ	>i
ኣ	>A
ኤ	>e
እ	>ə
ኦ	>o
ከ	ka
ኩ	ku
ኪ	ki
ካ	kA
ኬ	ke
ክ	kə
ኮ	ko
ኰ	kwa
ኲ	kwu
ኳ	kwA
ኴ	kwe
ኵ	kwə
ወ	wa
ዉ	wu
ዊ	wi
ዋ	wA
ዌ	we
ው	wə
ዎ	wo
ዐ	<a
ዑ	<u
ዒ	<i
ዓ	<A
ዔ	<e
ዕ	<ə
ዖ	<o
ዘ	za
ዙ	zu
ዚ	zi
ዛ	zA
ዜ	ze
ዝ	zə
ዞ	zo
ዠ	Za
ዡ	Zu
ዢ	Zi
ዣ	ZA
ዤ	Ze
ዥ	Zə
ዦ	Zo
የ	ya
ዩ	yu
ዪ	yi
ያ	yA
ዬ	ye
ይ	yə
ዮ	yo
ደ	da
ዱ	du
ዲ	di
ዳ	dA
ዴ	de
ድ	də
ዶ	do
ጀ	Ga
ጁ	Gu
ጂ	Gi
ጃ	GA
ጄ	Ge
ጅ	Gə
ጆ	Go
ገ	ga
ጉ	gu
ጊ	gi
ጋ	gA
ጌ	ge
ግ	gə
ጎ	go
ጐ	gwa
ጒ	gwu
ጓ	gwA
ጔ	gwe
ጕ	gwə
ጠ	Ta
ጡ	Tu
ጢ	Ti
ጣ	TA
ጤ	Te
ጥ	Tə
ጦ	To
ጨ	Ca
ጩ	Cu
ጪ	Ci
ጫ	CA
ጬ	Ce
ጭ	Cə
ጮ	Co
ጰ	Pa
ጱ	Pu
ጲ	Pi
ጳ	PA
ጴ	Pe
ጵ	Pə
ጶ	Po
ጸ	Sa
ጹ	Su
ጺ	Si
ጻ	SA
ጼ	Se
ጽ	Sə
ጾ	So
ፈ	fa
ፉ	fu
ፊ	fi
ፋ	fA
ፌ	fe
ፍ	fə
ፎ	fo
ፐ	pa
ፑ	pu
ፒ	pi
ፓ	pA
ፔ	pe
ፕ	pə
ፖ	po
ቨ	va
ቩ	vu
ቪ	vi
ቫ	vA
ቬ	ve
ቭ	və
ቮ	vo
ቯ	vwA
ኸ	xa
ኹ	xu
ኺ	xi
ኻ	xA
ኼ	xe
ኽ	xə
ኾ	xo
፩	(1)
፪	(2)
፫	(3)
፬	(4)
፭	(5)
፮	(6)
፯	(7)
፰	(8)
፱	(9)
፲	(10)
፳	(20)
፴	(30)
፵	(40)
፶	(50)
፷	(60)
፸	(70)
፹	(80)
፺	(90)
፻	(100)
፼	(10000)